<section class="contact">
  <div class="contact__container container">
    <ul class="contact__list list">
      <li class="contact__item">
        <a class="contact__link link" href="#">
          <svg width="20px" height="20px">
            <use href="./images/svg/sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li class="contact__item">
        <a class="contact__link link" href="#">
          <svg width="20px" height="20px">
            <use href="./images/svg/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
      <li class="contact__item">
        <a class="contact__link link" href="#">
          <svg width="20px" height="20px">
            <use href="./images/svg/sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
      <li class="contact__item">
        <a class="contact__link link" href="#">
          <svg width="20px" height="20px">
            <use href="./images/svg/sprite.svg#linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
