<header>
  <div class="header__background">
    <div class="header__container container">
      <div class="header__logo_wrapper">
        <a class="header__logo" href="./index.html">Atelier.</a>
      </div>

      <nav class="header__nav">
        <ul class="header__nav_list">
          <li class="header__nav_item">
            <a class="header__nav_link" href="#owerview">owerview</a>
          </li>
          <li class="header__nav_item">
            <a class="header__nav_link" href="#pages">pages</a>
          </li>
          <li class="header__nav_item">
            <a class="header__nav_link" href="#portfolio">portfolio</a>
          </li>
          <li class="header__nav_item">
            <a class="header__nav_link" href="#template">template</a>
          </li>
          <li class="header__nav_item">
            <a class="header__nav_link" href="#contact">contact</a>
          </li>
        </ul>
      </nav>
      <button type="button" class="header__button">Buy Template</button>
    </div>
  </div>
</header>
