<section class="pages">
  <div class="pages_container">
    <p class="pages__description">Our Core Layouts</p>
    <h1 class="pages__title">pages Pages</h1>
    <ul class="pages__list list">
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image19.png" alt="pages_image" />
        <p class="pages__item_description">Landing vr.1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image20.png" alt="pages_image" />
        <p class="pages__item_description">Landing vr.2</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image21.png" alt="pages_image" />
        <p class="pages__item_description">Landing vr.2</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image1.png" alt="pages_image" />
        <p class="pages__item_description">Portfolio 1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image2.png" alt="pages_image" />
        <p class="pages__item_description">Portfolio 1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image3.png" alt="pages_image" />
        <p class="pages__item_description">Portfolio 1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image4.png" alt="pages_image" />
        <p class="pages__item_description">Portfolio 1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image5.png" alt="pages_image" />
        <p class="pages__item_description">Single Project</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image6.png" alt="pages_image" />
        <p class="pages__item_description">About Company</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image7.png" alt="pages_image" />
        <p class="pages__item_description">About TEam</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image8.png" alt="pages_image" />
        <p class="pages__item_description">Single Team Member</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image9.png" alt="pages_image" />
        <p class="pages__item_description">FAQ PAge</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image10.png" alt="pages_image" />
        <p class="pages__item_description">Contact Us</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image11.png" alt="pages_image" />
        <p class="pages__item_description">Blog 1</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image12.png" alt="pages_image" />
        <p class="pages__item_description">Blog 2</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image13.png" alt="pages_image" />
        <p class="pages__item_description">Blog 3</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image14.png" alt="pages_image" />
        <p class="pages__item_description">Blog Categories</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image15.png" alt="pages_image" />
        <p class="pages__item_description">Single Blog</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image16.png" alt="pages_image" />
        <p class="pages__item_description">Pricing</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image17.png" alt="pages_image" />
        <p class="pages__item_description">Style guide</p>
      </li>
      <li class="pages__item">
        <a class="pages__link link"></a>
        <img src="./images/image18.png" alt="pages_image" />
        <p class="pages__item_description">Licenses</p>
      </li>
    </ul>
  </div>
</section>
