<section class="subscription">
  <h1 class="subscription__title">Subscribe to Atelier Newsletter</h1>
  <p class="subscription__description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius
    enim in eros elementum tristique.
  </p>
  <form class="subscription__form">
    <input type="email" placeholder="Email" />
    <button type="submit">Subscribe</button>
  </form>
  <p class="subscription__policy">
    * By clicking <span>"Subscribe"</span> button, you agree to our Terms and
    that you have read our<span> Data Use Policy</span>
  </p>
</section>
