<section class="subscription">
  <div class="subscription__container container">
    <h1 class="subscription__title">
      Subscribe to Atelier <br />
      Newsletter
    </h1>
    <p class="subscription__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      varius enim in eros elementum tristique.
    </p>
    <form class="subscription__form">
      <input type="email" />
      <button type="button"></button>
    </form>
    <p class="subscription__policy">
      * By clicking
      <span class="subscription__policy_accent">"Subscribe"</span> button, you
      agree to our Terms and that<br />
      you have read our<span class="subscription__policy_accent">
        Data Use Policy</span
      >
    </p>
  </div>
</section>
