<section class="template">
  <div class="template__container container">
    <h3 class="template__description">Our Core Features</h3>
    <h1 class="template__title">Our Services</h1>
    <ul class="template__list list">
      <li class="template__item">
        <a class="template__item_link link" href="#">
          <svg width="60px" height="60px">
            <use href="./images/svg/sprite.svg#triangle"></use>
          </svg>
          <h2 class="template__item_title">Web Design</h2>
          <p class="template__item_description">
            Suspendisse varius enim in <br />cursus id rutrum imperdiet. eros
            elementum tristique.
          </p>
        </a>
      </li>
      <li class="template__item">
        <a class="template__item_link link" href="#">
          <svg width="60px" height="60px">
            <use href="./images/svg/sprite.svg#circle"></use>
          </svg>
          <h2 class="template__item_title">UI/UX Design</h2>
          <p class="template__item_description">
            Suspendisse varius enim in <br />cursus id rutrum imperdiet. eros
            elementum tristique.
          </p>
        </a>
      </li>
      <li class="template__item">
        <a class="template__item_link link" href="#">
          <svg width="60px" height="60px">
            <use href="./images/svg/sprite.svg#square"></use>
          </svg>
          <h2 class="template__item_title">SEO & Marketing</h2>
          <p class="template__item_description">
            Suspendisse varius enim in <br />cursus id rutrum imperdiet. eros
            elementum tristique.
          </p>
        </a>
      </li>
    </ul>
    <ul class="template__follow_list">
      <li class="template__follow_item">
        <svg width="50px" height="50px" class="template__insta_icon">
          <use href="./images/svg/sprite.svg#insta"></use>
        </svg>
        <img src="./images/family.png" class="template__insta_img" />
      </li>
      <li class="template__follow_item">
        <svg width="50px" height="50px" class="template__insta_icon">
          <use href="./images/svg/sprite.svg#insta"></use>
        </svg>
        <img src="./images/laptop.png" class="template__insta_img" />
      </li>
      <li class="template__follow_item">
        <img src="./images/follow.png" />
      </li>
      <li class="template__follow_item">
        <svg width="50px" height="50px" class="template__insta_icon">
          <use href="./images/svg/sprite.svg#insta"></use>
        </svg>
        <img src="./images/net.png" class="template__insta_img" />
      </li>
      <li class="template__follow_item">
        <svg width="50px" height="50px" class="template__insta_icon">
          <use href="./images/svg/sprite.svg#insta"></use>
        </svg>
        <img src="./images/chair.png" class="template__insta_img" />
      </li>
    </ul>
  </div>
</section>
