.footer {
  &__container {
    padding-left: 0;
    padding-right: 0;
  }
  @extend %block-m;
  height: 72px;
  padding: 20px 0 20px;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baceline;
    margin-top: 5px;
    &_details {
      display: flex;

      & li {
        &:not(:last-child) {
          margin-right: 15px;
        }
        & a {
          color: $accent-color;
        }
      }
    }
  }
  &__item {
    @include font(400, 12px, 22px);
    &_accent {
      color: $accent-color;
      @include font(400, 12px, 30px);
    }
  }
}
