.hero {
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  display: block;

  &__container {
    display: block;
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    height: 600px;
    margin: 0 auto;
  }
  &__about {
    color: rgba(255, 174, 43, 1);
    text-align: center;
    text-transform: uppercase;
    @include font(400, 12px, 28px);
    padding-top: 125px;
    margin-bottom: 15px;
  }
  &__title {
    color: #fff;
    @include font(300, 48px, 70px);
    letter-spacing: 4;
    text-align: center;
    margin-bottom: 35px;
  }
  &__button {
    width: 143px;
    height: 50px;
    color: rgba(24, 21, 17, 1);
    text-transform: uppercase;
    @include font(400, 11px, 22px);
    background-color: $accent-color;
    border: none;
    display: block;
    margin: 0 auto;
  }
}
