.template {
  &__container {
    @extend %block-m;
    text-align: center;
  }
  &__description {
    margin-top: 120px;
  }
  &__description {
    margin-bottom: 10px;
    text-transform: uppercase;
    @include font(400, 12px, 22px);
  }
  &__title {
    color: $accent-color;
    @include font(400, 60px, 70px);
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    width: 400px;
    border: 1px solid #54493e;
    &:not(:last-child) {
      margin-right: 20px;
    }
    padding: 60px 0 75px 60px;
    &_link {
      color: $text-color;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: flex-start;
    }
    &_title {
      margin-top: 20px;
    }
    &_description {
      text-align: left;
      margin-top: 10px;
      @include font(400, 15px, 26px);
    }
  }
  &__follow {
    &_list {
      display: flex;
      margin-top: 120px;
      border-top: 1px solid #363636;
    }
  }
  &__insta_img {
    margin-top: -10px;
  }
  &__insta_icon {
    padding-top: 20px;
  }
}
